.main_editor_container {
  position: relative;
  width: 85%;
  left: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  background-color: #0d1117;
  height: 100vh;
  position: relative;
}

.main_editor {
  display: flex;
}

.main_container {
  font-family: sans-serif;
  text-align: center;
  background-color: #9bddff;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
}

.container {
  background-color: #0d1117;
  text-align: left;
  width: 100%;
  padding: 1rem 0;
}

.editor_heading {
  width: 100%;
  background-color: #0d1117;
  z-index: 100;
  margin-bottom: 1rem;
  padding-left: 2.3rem;
  box-sizing: border-box;
}

.editor_heading h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif !important;
}

.editor_heading input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}
.editor_title {
  width: 75%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.editor_title input::placeholder {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500;
  font-size: 2rem;
}

/* @tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}

@tailwind components;

@tailwind utilities; */

#editorjs{
  font-family: "Open Sans", sans-serif !important;
}

.editor_foldermodal{
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.editor_foldermodal_left{
  display: flex;
  align-items: center;
}

.editor_foldermodal_left_delete{
  padding: 0rem 0.7rem;
  border-radius: 1rem;
  background-color: red;
  cursor: pointer;
  transition: all 0.3s;
}

.editor_foldermodal_left_delete:hover{
  background-color: rgba(225, 0, 0, 0.8);
}

.editor_foldermodal_left_delete h3{
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.editor_foldermodal_right{
  display: flex;
  align-items: center;
}

.editor_foldermodal_right span{
  margin-right: 2rem;
  font-size: 28px;
  margin-top: 0.4rem;
  cursor: pointer;
}

.userinfo{
  display: flex;
  align-items: center;
}

.userinfo img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userinfo_details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.6rem;
}

.userinfo_details p{
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}

.userinfo_details span{
  font-size: 0.7rem;
}